
QConsole/bin/Debug/QConsole.exe
.vs/QConsole/v16/.suo
QConsole/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
*.pdb
QConsole/bin/Debug/QConsole.exe.config
.vs/QConsole/v16/.suo
QConsole/obj/Debug/QConsole.csproj.CoreCompileInputs.cache
QConsole/obj/Debug/QConsole.exe
QConsole/obj/Debug/QConsole.csproj.FileListAbsolute.txt
.vs/QConsole/v16/.suo
.vs/QConsole/v16/.suo
